<form class="signup-form">
   <div>
    <label for="user-signup" placeholder="username">Username:</label>
    <input type="text" id="user-signup" />
  </div>
  <div>
    <label for="email-signup" placeholder="email@gmail.com">E-mail:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up!</button>
  </div>
</form>

<script src="/js/signup.js"></script>